<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style_org.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Страница организатора</title>
    </head>
    <body>
        <script>
            let game_id = {{ game_id }}
        </script>
        <div class="pageOrg">
            <div style="width: 525px; justify-content:first baseline; align-items: center; display: flex; flex-direction: column;">
                <img  src="../static/img/Frame 2.png/">
                <div class="groupButton">
                    <button class="buttonP" id="export">Экспортировать данные</button>
                    <button class="buttonPD" disabled>Статистика команды</button>
                    <button class="buttonP" onclick="window.location.href=`/host/${game_id}`">Данные об игроках</button>
                </div>
            </div>
            <div style="display: flex; flex-direction: column; margin-left: 5%;">
                <div class="groupButton1">
                    <button class="button1" onclick="allChart()">Полная статистика</button>
                    <button class="button1" onclick="profileChart()">По анкетам</button>
                    <button class="button1" onclick="buyChart()">По чеку оплаты</button>
                    <button class="button1" onclick="sendChart()">По отправке подарков</button>
                </div>
                <canvas id="myChart" width="1" height="1" style="width: auto; height:50vh; margin-top: 5vh"></canvas>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/org_page.js') }}"></script>
        <script  src="{{ url_for('static', filename='js/export.js') }}"></script>
    </body>
</html>