* {
    font-family: "Shantell Sans", cursive;
}

.pageOrg{
    max-width: 100%; 
    max-height: 100%;  
    background: white;
    display: flex;
    flex-direction: row;
    
}

.groupButton{
    padding-left: 7vw;
}

.buttonP{
    width: 310px; height: 111px; background: #6AD0E1; border-radius: 10px; border: 3px black solid;
    text-align: center; color: black; font-size: 30px; font-weight: 300; word-wrap: break-word;
    cursor: pointer; margin-top: 2vh;
}

.buttonPD{
    width: 310px; height: 111px; background: rgba(105.97, 207.54, 225.46, 0.22); border-radius: 10px; border: 3px black solid;
    text-align: center; color: black; font-size: 30px; font-weight: 300; word-wrap: break-word;
    cursor:not-allowed; margin-top: 2vh;
}

.buttonP:hover{
    background: rgba(105.97, 207.54, 225.46, 0.22);
}

.groupButton1{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-around;
}

.button1{
    width: 202px; height: 107px; background: #6AD0E1; border-radius: 10px; border: 3px black solid;
    cursor: pointer;
    text-align: center; color: black; font-size: 30px; font-weight: 300; word-wrap: break-word;
}

.button1:hover{
    background: rgba(105.97, 207.54, 225.46, 0.22);
}

table{
    border: 1px black solid;
    margin-top: 5%;
    width: 100%;
}

table tr th{
    text-align: center; color: black; font-size: 30px; font-weight: 600; line-height: 39px; word-wrap: break-word; background: #6AD0E1;border: 1px black solid;
}

table tr td{
    text-align: center; color: black; font-size: 30px; font-weight: 300; line-height: 39px; word-wrap: break-word; border: 1px black solid;
}

.keepB{
    background: #6AD0E1; border-radius: 10px; border: 3px black solid; width: 310px; height: 61px; 
    text-align: center; color: black; font-size: 30px; font-weight: 300; word-wrap: break-word; cursor: pointer; margin-top: 5%; margin-left: 40%;
}

.keepB:hover{
    background: rgba(105.97, 207.54, 225.46, 0.22);
}

.dialog1{
    width: 40%;
}

.GreenB{
    width: 249px; height: 79px; background: #0AFD02; border-radius: 5px; border: 3px black solid;
    cursor: pointer;
    color: white; font-size: 25px;font-weight: 500; word-wrap: break-word;
}

.RedB{
    width: 249px; height: 79px; background: #FF0206; border-radius: 5px; border: 3px black solid;
    cursor: pointer;
    color: white; font-size: 25px;font-weight: 500; word-wrap: break-word;
}