* {
    font-family: "Shantell Sans", cursive;
    box-sizing: border-box;
}

.pageList1{
    max-width: 100%; 
    max-height: 100%;  
    background: white;
    display: flex;
    flex-direction: column;
    margin: 2% 2%;
    position: relative;
}

.return {
    width: 498px; 
    height: 111px;
    cursor: pointer;
    text-align: center; 
    color: black; 
    font-size: 32px; 
    font-weight: 400; 
    word-wrap: break-word; 
    background: #6AD0E1; 
    border-radius: 10px; 
    border: 3px black solid; 
    flex-basis: 35%;
    margin-top: 1%;
}

.return:hover{
    background: rgba(105.97, 207.54, 225.46, 0.22);
}