<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style_admin_pages.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Список людей</title>
    </head>
    <body>
        <div class="pageList1">
            <dialog class="dialog1" id="favDialog">
                <div style="width: 50%; height: auto; margin-bottom: 10%">
                    <span style="font-weight: 700">Информация о команде<br/></span>
                    <span style="font-weight: 400" id="team_info">Организатор команды: Артем<br/>Количество игроков: 3<br/>Количество заполненых анкет: 2<br/>Количество загруженных и подтвержденных чеков: 1<br/>Количество не подтвержденных чеков: 1<br/>Количество отправленных подарков: 1<br/>Количество полученных подарков: 1<br/><br/></span>
                    <span style="font-weight: 700">Дедлайны команды<br/></span>
                    <span style="font-weight: 400" id="deadlines_info">Заполнение анкет: до 01.11.2024<br/>Отправка чека оплаты: до 26.11.2024<br/>Отправка подарка: до 10.12.2024<br/><br/></span>
                    <span style="font-weight: 700">Сумма подарка<br/></span>
                    <span style="font-weight: 400" id="prices_info">Нижний предел: 100 руб.<br/>Верхний предел: 1000 руб.</span>
                </div>
                <button id="close" style="bottom: 0; position:absolute;">Cancel</button>
            </dialog>
            <div id="list_team" class="list"></div>
            <div><button class="return" onclick="window.location.href='/admin'">Вернуться назад</button></div>
        </div>
    </body>
    <script src="{{ url_for('static', filename='js/games_list.js') }}"></script>
</html>