<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style_player.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Страница пользователя</title>
    </head>
    <body>
        <div class="pagePlayer">
            <dialog class="dialog1" id="WDialog">
                <button id="close" style="top: 1vh; position:absolute;">Cancel</button>
                <div style="margin-top: 2vh; color: black; font-size: 30px;font-weight: 500; word-wrap: break-word">Мне хотелось бы получить на Новый год много интересных и вкусных сладостей:)</div>
            </dialog>
            <div style="width: 525px; justify-content:space-between; align-items: center; display: flex; flex-direction: column;">
                <img  src="../static/img/Frame 2.png/">
                <div class="groupButton">
                    <button class="buttonP">Экспортировать данные</button>
                    <button class="buttonP" onclick="window.location.href='/profile'">Анкета</button>
                    <button class="buttonPD" disabled>Текущее состояние</button>
                    <button class="confirm">Подтвердить получение подарка</button>
                </div>
            </div>
            <div style="display: flex; flex-direction: column;  margin-top: 2vh; padding: 4vh 15vw;">
                <button class="wishes" id="wishess">Пожелание получателя</button>
                <div style="display: flex; flex-direction: row; margin-top: 2vh;">
                    <div class="block1">Заполните анкету до 01.11.2024 23:59</div>
                    <div style="width: 228px; height: 165px; background: #0AFD02; border: 4px black solid"></div>
                  </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/player_page.js') }}"></script>
    </body>
</html>